<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>购铺网</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="description" content="购铺网 商铺网 商铺店铺出租 门面店面转让 旺铺转让出租 商铺招商销售 写字楼招商销售">
    <meta name="keywords" content="购铺网 商铺网 商铺店铺出租 门面店面转让 旺铺转让出租 商铺招商销售 写字楼招商销售">
    <meta name="author" content="湖南融聚文化传媒有限公司">
    <link rel="stylesheet" type="text/css" href="./resource/css/style.css">
    <link rel="stylesheet" type="text/css" href="./resource/css/neiye.css">
    <link rel="stylesheet" type="text/css" href="./resource/css/filter.css">
    <link rel="stylesheet" type="text/css" href="./resource/css/public.css">
    <link rel="stylesheet" type="text/css" href="./resource/css/iconfont.css">

    <script type="text/javascript" src="./resource/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="./resource/js/vue.min.js"></script>
    <script type="text/javascript" src="./resource/js/paging.js"></script>
    <script type="text/javascript" src="./resource/js/tab.js"></script>
    <script type="text/javascript" src="./resource/js/words-roll.js"></script>
    <script type="text/javascript"> 
        function password() {
            var testV = 1;
            var pass1 = prompt('请输入密码:', '');
            while (testV < 3) {
                if (!pass1) history.go(-1);
                if (pass1 == "rjkj2018") {
                    alert('密码正确!'); break;
                }
                testV += -1;
                var pass1 = prompt('密码错误!请重新输入:');
            }
            if (pass1 != "password" & testV == 3) history.go(-1); return " ";
        }
        document.write(password()); 
    </SCRIPT>
    <style>
        .header-bottom .top_bottom {
            width: 950px;
        }

        .mytable {
            width: 1200px;
            height: auto;
            margin: 0 auto;

        }

        .mytable table {
            width: 100%;
            border: 1px solid #999;
            padding: 0;
            margin: 0;
            border-collapse: collapse;
        }

        .mytable th {
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-bottom: 1px solid #999;
            padding: 0;
            margin: 0;

        }

        .mytable td {
            height: 40px;
            line-height: 20px;
            text-align: center;
            border-bottom: 1px solid #999;
            padding: 0;
            margin: 0;
            font-size: 13px;
        }

        .mytable td i {
            cursor: pointer;
        }

        .mytable tr:hover {
            background-color: #f8f8f8;
        }

        .mytable tr:nth-child(2n) {
            background-color: #f8f8f8;
        }

        .mytable tfoot {
            width: 100%;
        }

        .mytable tfoot a {
            text-decoration: none;
            color: #999;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- top -->
        <div class="header">
            <div class="logo clearfix">
                <a href="http://www.goupu88.com/index.html">
                    <img src="./resource/images/logo.jpg" alt="">
                </a>

            </div>
        </div>
        <div class="header-bottom">
            <div class="content clearfix">
                <div class="shop-screening">
                    <p>购铺网后台管理</p>
                </div>
                <div class="top_bottom">
                    <ul class="clearfix">
                        <li>
                            <a href="admin.html">免费发布信息审核</a>
                        </li>
                        <li>
                            <a href="admin_advert.html">首页广告发布</a>
                        </li>
                        <li>
                            <a href="admin_activity.html">活动策划发布</a>
                        </li>
                        <li>
                            <a href="admin_business.html">商业动态发布</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="content news-box clearfix">
            <!-- <div class="w_a aboutCon"> -->
            <div class="navigation">
                购铺网后台管理 &gt; 当前位置：
                <a href="admin.html">免费发布信息审核</a>
            </div>

            <div id="" class="">
                <div class="mytable">
                    <table>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th style="text-align:left;">信息主标题</th>
                                <th style="text-align:left;">所属类别</th>
                                <th style="text-align:left;">区域</th>
                                <th style="text-align:left;">商铺地址</th>
                                <th style="text-align:left;">面积</th>
                                <th style="text-align:left;">价格</th>
                                <th style="text-align:left;">联系人</th>
                                <th style="text-align:left;">联系电话</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in items">
                                <td style="width:50px;" v-text="index+1"></td>
                                <td style="width:300px;text-align:left;" v-text="item.bt"></td>
                                <td style="width:90px;text-align:left;" v-text="item.lb =='2' ? '商铺转让' : '商铺出租'"></td>
                                <td style="width:60px;text-align:left;" v-text="item.areaName"></td>
                                <td style="width:250px;text-align:left;" v-text="item.spdz"></td>
                                <td style="width:70px;text-align:left;" v-text="item.mj+ (typeof(item.mj) == 'number' ? '㎡': '')"></td>
                                <td style="width:90px;text-align:left;color:#d81e06;" v-text="item.price"></td>
                                <td style="width:70px;text-align:left;" v-text="item.lxr"></td>
                                <td style="width:90px;text-align:left;" v-text="item.lxdh"></td>
                                <td style="width:120px;">
                                    <i @click="approval(item.id,'1')" class="iconfont icon-tongyi " title="通过" style="color:#1afa29;    margin-right: 5px;" v-if="item.mqzt != 1 && item.mqzt != 2"></i>
                                    <i @click="approval(item.id,'3')" class="iconfont icon-weitongguo1" title="不通过" style="color:#d81e06;    margin-right: 5px;"
                                        v-if="item.mqzt != 3 && item.mqzt != 2"></i>
                                    <i @click="approval(item.id,'4')" class="iconfont icon-weitongguo " title="暂停" style="color:#f4ea2a;    margin-right: 5px;"
                                        v-if="item.mqzt != 4 && item.mqzt != 2"></i>
                                    <i @click="approval(item.id,'2')" class="iconfont icon-xiazaiwancheng " title="成交" style="color:#1afa29;    margin-right: 5px;"
                                        v-if="item.mqzt != 2"></i>

                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>
                <div style=" width:1200px; margin:0 auto;">
                    <div class="PageProgram">
                        <div id="page" class="page_div"></div>
                    </div>
                </div>

            </div>

        </div>

        <footer>
            <div class="footer">
                <div class="content clearfix">
                    <p>Copyright http://www.goupu88.com All Rights Reserved</p>
                    <p>长沙融聚文化有限公司 公司地址：湖南省长沙市雨花区雨花亭万博汇二期5栋1810室</p>
                    <p>投诉热线：13530535270</p>
                    <p>ICP备案号： XXXXXX</p>
                </div>
            </div>
        </footer>

    </div>


    <script type="text/javascript">

        var app = new Vue({
            el: '#app',
            data: {
                restUrl: 'http://183.215.12.97:8884/slowbuy',//http://183.215.12.97:8884/rjBuy     http://192.168.1.107:8080/slowbuy/
                items: [],
                page: 0,
                pageIndex: 1,
                totalCount: '',
                searchParam: { pageIndex: 1, pageSize: 10 },

            },
            methods: {

                initPage: function () {
                    var me = this;
                    //分页
                    $("#page").paging({
                        pageNo: me.pageIndex,
                        totalPage: me.page,
                        totalSize: me.totalCount,
                        callback: function (num) {
                            me.pageIndex = num;
                            me.getList();
                            $(window).scrollTop(0);
                        }
                    })
                },
                getList: function () {
                    var me = this;
                    me.searchParam.pageIndex = me.pageIndex;
                    me.searchParam.pageSize = 10;
                    $.ajax({
                        type: "post",
                        url: me.restUrl + "/new/getNewsByLb",//根据信息类别获取对应商品发布数据
                        dataType: "jsonp",
                        async: false,
                        data: me.searchParam,
                        success: function (data) {
                            me.items = data.newsInfo;
                            me.totalCount = data.totalCount;
                            me.page = Math.ceil(me.totalCount / 10);
                            me.initPage();//初始化分页组件
                        }
                    });
                },
                approval: function (id, zt) {
                    var me = this;
                    if (window.confirm('确定此操作吗？')) {
                        $.ajax({
                            type: "post",
                            url: me.restUrl + "/new/examineNews",//审核
                            dataType: "jsonp",
                            async: false,
                            data: { id: id, mqzt: zt },
                            success: function (data) {
                                if (data.code == 100) {
                                    alert('审核成功');
                                    location.reload(true);
                                }
                            }
                        });
                    } else {

                    }

                },
                getRequest: function () {
                    var url = location.search; //获取url中"?"符后的字串   
                    var theRequest = new Object();
                    if (url.indexOf("?") != -1) {
                        var str = url.substr(1);
                        strs = str.split("&");
                        for (var i = 0; i < strs.length; i++) {
                            theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                        }
                    }
                    return theRequest;
                }

            },
            mounted: function () {
                this.getList();

            }
        });
    </script>



</body>

</html>