@charset "utf-8";
/* 代码整理：懒人之家 */

* {
	margin:0;
	padding:0;
	list-style-type:none;
}
a, img {
	border:0;
	
}
.advbox {
	width:990px;
	margin:0 auto;
}
.advbox .dt_small {
	width:990px;
}
.advbox img {
	border-radius: 20px;
}
@media screen and (max-width: 1200px) {
	.advbox .dt_big {
		 width: 100%;
		 position: absolute;
		 top: 30%;
		 left: 50%;
		 margin-left: -24rem;
		 z-index: 10;
		}
 }
 
 @media screen and (min-width: 1200px) {
	.advbox .dt_big {
		 width: 1300px;
		 position: absolute;
		 top: 80px;
		 left: 50%;
		 margin-left: -650px;
		 z-index: 10;
		}
 }
.advbox .dt_toBig {
	position:absolute;
	left:50%;
	margin:5px 0px 0px 440px;
	width:49px;
	height:21px;
	background:url("../images/public_showTL_1201.png");
	cursor:pointer;
}
.advbox .dt_toSmall {
	position:absolute;
	left:50%;
	margin:5px 0px 0px 440px;
	width:49px;
	height:21px;
	background:url("../images/public_closeTL_1201.png");
	cursor:pointer;
}
